.table-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h4 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    
  }
  
  td {
    background-color: #fff;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  
  input[type="checkbox"] {
    margin: 0 auto;
  display: block;
  }
  
  .info {
    font-size: 14px;
    color: #333;
  }
  


/* Kawasan icikbos untuk ngeprint yang bagian dimau */


@media print {
  /* Sembunyikan semua elemen */
  body * {
    visibility: hidden;
  }
  
  /* Tampilkan hanya elemen dengan class print-section */
  .print-section, .print-section * {
    visibility: visible;
  }

  /* Pastikan elemen yang akan dicetak tetap berada di posisi yang benar */
  .print-section {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.textarea {
  width: 100%;
  resize: vertical;
  border: none;
  outline: none;
}

.checkbox-cell {
  text-align: center;
  vertical-align: middle;
}



.table-container {
  page-break-before: always; /* Memastikan setiap tabel dimulai di halaman baru */
}

.additional-table-container {
  page-break-before: always; /* Memastikan setiap tabel dimulai di halaman baru */
}



/* header */
/* @media print {
  @page {
    margin: 20mm;
  }

  .page-break {
    page-break-before: always;
    position: relative;
    padding-top: 50px; 
  }

  .page-break::before {
    content: url('ATUR.png'); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; 
    height: auto;
  }

  .page-break::after {
    content: url('ATUR.png'); 
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: bold;
  }
} */


@media print {
  .logo {
    display: block;
    width: 100px; /* Sesuaikan ukuran logo */
    height: auto;
  }

  .filename {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
}

@media screen {
  .logo {
    display: none;
  }

  .filename {
    display: none;
  }
}
